.image {
    width: 50%;
    height: 50% !important;
}
  .navbar{
    align-items: center !important;
    padding: 40px !important;
    background-color: rgb(226, 149, 17);
}

nav ul li a{
  text-decoration: none;
  color: black;
  /* font-size: 25px; */
  text-transform: capitalize;
  padding: 10px 20px;
  font-weight: 400;
}
nav ul li a:hover{
  color: red;
}
.logo img {
  max-width: 120px;
  height: auto;
}
.lo img{
  max-width: 120px;
  height: auto;
}
.king img{
  max-width: 120px;
  height: auto;
}
.row .name .form-group{
  color: black;
  font-size: 50px;
}
.row .Des .form-group{
  color: rgb(157, 70, 70);
  font-size: 20px;
  margin-bottom: 30px;
}
.row .price .form-group{
  color: brown;
  font-size: 20px;
  margin-bottom: 30px;
}
.row .Quan .form-group label{
       font-size: 20px;
       color: #ff523b;
}
.row .Quan .form-group input{
  width: 50px;
  height: 30px;
  padding-left: 10px;
  font-size: 19px;
  margin-bottom: 20px;
  border: 1px solid #ff523b;
}
.row .btn button{
  color: black;
  background-color: #ff523b;
  font-size: 25px;
}

/* contact section */
.contact{
  background-color: blanchedalmond;

}
.contact-info{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, auto));
  gap: 3rem;
}
.first-info img{
  width: 140px;
  height: auto;
}
.second img{
  width: 140px;
  height: auto;
}
.contact-info h4{
  color: #111;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.contact-info p{
  color: #2c2c2c;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all.42s;
}
.contact-info p:hover{
  color: red;
}
.social-icon i{
  color: #565656;
  margin-right: 10px;
  font-size: 20px;
  transition: all .42s;
}
.social-icon i:hover{
  transform: scale(1.3);
}
.end-text{
  background-color: aliceblue;
  text-align: center;
  padding: 20px;
}
.end-text p{
  color: black;
  text-transform: capitalize;
  background-color: bisque;
}