*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  height: none;
}
.main-menu{
  width: 100%;
  height: 100vh;
  background-image: url(image/font.jpg);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}
.logo img {
  max-width: 120px;
  height: auto;
}
.lote img{
  max-width: 120px;
  height: auto;
  
}
.buger img{
  max-width: 120px;
  height: auto;
  left: 20px;
}
header {
 position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  transition: all 0.2s ease-in-out;
}
header.sticky{
  background: bisque;
  padding: 20px 10%;
  box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.4);
}
.navmenu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navmenu a {
 color: black; 
 font-size: 25px;
 text-transform: capitalize;
 padding: 10px 20px;
 font-weight: 400; 
 transition: all .42s ease; 
 text-decoration: dashed !important;
}
.navmenu a:hover {
  color: red;
}
.nav-icon {
  display: flex;
  align-items: center;
}
.nav-icon i{ 
  margin-right: 20px;
  color: black;
  font-weight: 900;
  transition: all .42s ease;
  font-size: 25px;

}
.nav-icon input{
  font-size: 20px;
  height: 40px;
}
.nav-icon i:hover{
  color: red;
  transform: scaleZ(1.1);
}
section{
  padding: 5% 10%;
  background-color: bisque;
}
/* button down */
.down-arrow{
  position: absolute;
  top: 85%;
  right: 10%;
}
.down i{
  font-size: 30px;
  color: black;
  border: 2px solid #2c2c2c;
  border-radius: 50px;
  padding: 12px 12px;
}
.down i:hover{
  background-color: black;
  color: white;
  transition: all .42s ease;
}
.heart-icon{
  position: absolute;
  right: 0;
  font-size: 20px;
}
 .heart-icon:hover{
  color: red;
}  
.ratting{
  color: orange;
  font-size: 18px;
}
/* image */
.image{
  width: 100%;
  height: 310px;
 }
 .image img{
     width: 100%;
     object-fit: cover;
     transition: all .40s;
 }
 .image img:hover{
  transform: scale(0.8);
}

/* contact section */
.contact{
  background-color: blanchedalmond;

}
.contact-info{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, auto));
  gap: 3rem;
}
.contact-inf{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, auto));
  
}
.first-info img{
  width: 140px;
  height: auto;
}
.second img{
  width: 140px;
  height: auto;
}
.contact-info h4{
  color: #111;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.third img{
  width: 140px;
  height: auto;
}
.contact-info p{
  color: #2c2c2c;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all.42s;
}
.contact-info p:hover{
  color: red;
}
.social-icon i{
  color: #565656;
  margin-right: 10px;
  font-size: 18px;
  transition: all .42s;
}
.social-icon i:hover{
  transform: scale(1.3);
}
.end-text{
  background-color: aliceblue;
  text-align: center;
  padding: 20px;
}
.end-text p{
  color: black;
  text-transform: capitalize;
}
/* title product */

.titlefood h2{ 
  justify-content: space-between;
  margin: 100px  auto 50px;
}
select{
  border: 1px solid #ff523b;
  padding: 5px;
}
select:focus{
  outline: none;
}
/* btnproduct */
.page-btn{
  margin: 0 auto 80px;
}
.page-btn span{
  display: inline-block;
  border: 1px solid #ff523b;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.page-btn span:hover{
  background: orange;
}
/* number */
.list-page{
  width: 50%;
  margin: 0px auto;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.list-page .item {
  margin: 0px 20px;
  width: 37px;
  height: 37px;
  background-color: orange;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-page .item a{
    color: #111;
    text-decoration: none;
}


/* list product */
.menu-footer{
  background-color: bisque;
  text-align: center;
  
}
.menu-footer .btn{
  color: #f0aa1ff4;
  border: 1px solid black;
  background-color: blanchedalmond;
}
.menu-footer .btn:hover{
  background-color: beige;
  border: 1px solid black;
  color: rgb(229, 187, 35);
}
.card-body{
  background-color: bisque;
}
.ratting1{
  color: orange;
  font-size: 18px;
  background-color: bisque;
}

