*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    height: none;
}
.logo img {
    max-width: 120px;
    height: auto;
}
.lote img{
    max-width: 120px;
    height: auto;
    left: 20px;
}
.buger img{
    max-width: 120px;
    height: auto;
    left: 20px;
}

 header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
 }
 
 .navmenu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    
 }
 .navmenu a {
   color: black; 
   font-size: 25px;
   text-transform: capitalize;
   padding: 10px 20px;
   font-weight: 400;
   transition: all .42s ease;
 }
.navmenu a:hover {
    color: red;
}
.nav-icon {
    display: flex;
    align-items: center;
}
.nav-icon i{ 
    margin-right: 20px;
    color: black;
    font-weight: 900;
    transition: all .42s ease;
    font-size: 25px;

}
.nav-icon i:hover{
    color: red;
    transform: scaleZ(1.1);
}
#menu-icon{
    font-size: 30px;
    color: black;
    z-index: 1000;
    cursor: pointer;
}
section{
    padding: 5% 10%;
    background-color: bisque;
}
.main-home{
    width: 100%;
    height: 100vh;
    background-image: url(image/buger.jpeg);
    background-position: center;
    background-size: cover;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}
.main-text h5{
    color: black;
    text-transform: capitalize;
    font-weight: 1000;
    font-size: 30px;
}
.main-text p{
    color: orange;
    font-size: 60px;
    font-style: oblique;
    margin-bottom: 60px;

}
.main-btn {
    display: inline-block;
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #111;
    padding: 12px 25px;
    transition: all .42s ease;
}
.main-btn:hover{
    background-color: aliceblue;
    color: brown;
}
.main-btn i{
    vertical-align: middle;
}
.down-arrow{
    position: absolute;
    top: 85%;
    right: 10%;
}
.down i{
    font-size: 30px;
    color: black;
    border: 2px solid #2c2c2c;
    border-radius: 50px;
    padding: 12px 12px;
}
.down i:hover{
    background-color: black;
    color: white;
    transition: all .42s ease;
}
header.sticky{
    background: bisque;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}
/* bestseller-section-css */
.center-text h2{
    color: black;
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 2rem;
}
.row {
    position: relative;
    transition: all .40s;
    border: 1px solid black;
}
.row img{
    width: 100%;
    height: auto;
    transition: all .40s;
}
.image{
 width: 100%;
 height: 310px;
}

.image img{
    width: 100%;
    object-fit: cover;
}
/* .image img:hover{
    transform: scale(0.9);
} */

/* img2 row1*/
.row1 {
    position: relative;
    transition: all .40s;
    border: 1px solid black;
  }
  .row1 img{
    width: 100%;
    height: 67%;
    transition: all .40s;
  }
  .row1 img:hover{
    transform: scale(0.9);
  }
  
  /* img1 row2 */
  .row2 {
    position: relative;
    transition: all .40s;
    border: 1px solid black;
  }
  .row2 img{
    width: 100%;
    height: 67%;
    transition: all .40s;
  }
  .row2 img:hover{
    transform: scale(0.9);
  }
  /* img6 row3 */
  .row3 {
    position: relative;
    transition: all .40s;
    border: 1px solid black;
  }
  .row3 img{
    width: 100%;
    height: 66%;
    transition: all .40s;
  }
  .row3 img:hover{
    transform: scale(0.9);
  }
  /* img5 row4 */
  .row4 {
    position: relative;
    transition: all .40s;
    border: 1px solid black;
  }
  .row4 img{
    width: 100%;
    height: 66%;
    transition: all .40s;
  }
  .row4 img:hover{
    transform: scale(0.9);
  }
  /* img8 row5 */
  .row5 {
    position: relative;
    transition: all .40s;
    border: 1px solid black;
  }
  .row5 img{
    width: 100%;
    height: 67%;
    transition: all .40s;
  }
  .row5 img:hover{
    transform: scale(0.9);
  }
.product-text h2{
    position: absolute;
    top: 13px;
    left: 13px;
    color: aliceblue;
    font-size: 12px;
    font-weight: 500;
    text-transform: upper;
    background-color: green;
    padding: 3px 10px;
}
.heart-icon{
    position: absolute;
    right: 0;
    font-size: 20px;
}
.heart-icon1{
    position: absolute;
    right: 0;
    font-size: 20px;
}
.heart-icon:hover{
    color: red;
}
.ratting{
    color: orange;
    font-size: 18px;
}
.price h4{
    color: black;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
}
.price p{
    color: black;
    font-size: 14px;
    font-weight: 600;
}
/* customer reviews */

.reviews{
    text-align: center;
}
.reviews h3{
color: #111;
font-size: 25px;
text-transform: capitalize;
text-align: center;
font-weight: 700;
}
.reviews img{
    width: 100px;
    height: auto;
    border-radius: 100px;
    margin: 10px 0;
    transition: transform 0.5s ease;
}
.reviews p{
    color: rgb(204, 202, 200);
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 10px;
}

/* contact section */
.contact{
    background-color: blanchedalmond;

}
.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 3rem;
}
.first-info img{
    width: 140px;
    height: auto;
}
.second img{
    width: 140px;
    height: auto;
}
.contact-info h4{
    color: #111;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.contact-info p{
    color: #2c2c2c;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all.42s;
}
.contact-info p:hover{
    color: red;
}
.social-icon i{
    color: #565656;
    margin-right: 10px;
    font-size: 20px;
    transition: all .42s;
}
.social-icon i:hover{
    transform: scale(1.3);
}
.end-text{
    background-color: aliceblue;
    text-align: center;
    padding: 20px;
}
.end-text p{
    color: black;
    text-transform: capitalize;
    background-color: bisque;
}
.rating {
    color: orange;
    font-size: 20px;
}


