.product{
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(260px, auto));
  gap: 2rem;
}
.row{
  position: relative;
  transition: all.40s;
  border: 1px solid rgb(232, 196, 196);
}
.row h1{
  position: absolute;
  top: 13px;
  left: 13px;
  color: aliceblue;
  background-color: aquamarine;
  font-size: 12px;
  text-transform: upper;
  padding: 3px 10px;
}
.row img{
  width: 29rem;
  transition: all.40s;
  height: auto;
}
.row img:hover{
  transform: scale(0.9);
}
